<div local-class="user-list">
    {{#bs-accordion as |acc|}}
        {{#each model as |user_item index|}}
            {{#acc.item value=index as |aitem|}}
                {{#aitem.title onClick=(action 'getDetails' acc.change index user_item)}}
                    <strong>{{user_item.id}}.</strong> <i>{{user_item.login}}</i>
                {{/aitem.title}}
                {{#aitem.body}}
                      {{ user-card item=user_item}}
                {{/aitem.body}}
            {{/acc.item}}
        {{/each}}
    {{/bs-accordion}}
</div>

{{yield}}
