{{log remindAuth}}
{{#if remindAuth}}
    <a href="https://github.com/login/oauth/authorize?client_id=e9ff62251a5cb4679244">
      <strong>Authenticate with Github API</strong>
    </a>
{{/if}}
{{#if showNavbar}}
    <header>
        This is Header
    </header>
{{/if}}
<main>
    {{outlet}}
</main>
